<p><%= todo_item.content %></p>

<% if todo_item.completed == 1 %>
  <%= link_to "Mark as incomplete", incomplete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
<% else %>
  <%= link_to "Mark as Complete", complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch %>
<% end %>

<%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } %>