<tr>
  <td class="mdl-data-table__cell--non-numeric">

   <% if todo_item.completed == 1 %>
     <%= link_to incomplete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
       <i class="material-icons">check_circle</i>
     <% end %>
   <% else %>
     <%= link_to complete_todo_list_todo_item_path(@todo_list, todo_item.id), method: :patch do %>
       <i class="material-icons">radio_button_unchecked</i>
     <% end %>
   <% end %>
   
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <%= todo_item.content %>
  </td>

  <td class="mdl-data-table__cell--non-numeric">
    <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="material-icons">delete</i>
    <% end %>
  </td>

</tr>